.st_latest-posts {
	.st_intro {
		text-align: center;
	}
	.intro_title {
		margin-bottom: 0;
		color: #fff;
	}
	.btns {
		text-align: center;
		margin-top: var(--space-4)
	}
}

.st_latest-posts_inner {
	@include flex-between;
	.latest_post {
		width: 31%;
		background-color: #fff;
		box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.35);
		border-radius: 20px;
		@include tab-max {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: var(--space-4);
			}
		}
		.attachment-post-thumbnail {
			border-radius: 20px 20px 0 0;
			aspect-ratio: 1088 / 612;
		}
		.lp_category {
			font-size: 16px;
			text-transform: uppercase;
			color: #646464;
		}
		.lp_content {
			padding: 25px 5rem var(--space-4) 5rem;
			@include flex-col;
			font-size: 17px;
			font-family: Secondary;
			font-weight: 400;

		}
		h3 {
			margin-top: 3.5rem;
			text-transform: uppercase;
			a {
				color: #000;
			}
		}
		p {
			font-family: Secondary;
		}
		.lp_read_more {
			color: var(--color-1);
			text-decoration: underline;
			text-transform: uppercase;
			margin-top: 3.5rem;
			display: flex;
		}
	}
}
