.st_testimonials {
	@include mob-only {
		padding-top: var(--space-2);
	}
	.st_intro {
		text-align: center;
	}
	.intro_title {
		color: #fff;
		margin-bottom: 0
	}
}
.st_testimonials_inner {
	@include flex-between;
}
.st_testimonial {
	width: 47%;
	background-color: #fff;
	border-radius: 3.2rem;
	padding: var(--space-2) 6rem var(--space-4);
	background-image: url(../icons/quote.svg);
	background-size: 15rem;
	background-repeat: no-repeat;
	background-position: top left 2rem;
	box-shadow: 13px 15px 11px rgba(0, 0, 0, 0.15);
	margin-bottom: 4.5rem;
	@include tab-max {
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include tab-max {
		width: 100%;
	}


	@include mob-only {
		padding-top: 70px;

	}
	.text {
		margin-bottom: 4.5rem;
	}
	span {
		display: flex;
		font-size: 20px;
	}
	.position {
		color: var(--color-1);
		margin-top: 10px;
	}
}
