/* Single */

.single-post {
	.post_news_title {
		font-weight: 600;
		color: var(--color-1);
		margin-block: var(--space-4);
		display: block;
	}
	blockquote {
		line-height: 1.3;
		p {
			line-height: 1.3
		}
	}
	.post_content_wrap {
		@include flex-between;
		@include limbo-min {
			.post_main {
				width: 65%;

			}
		}
		.post_intro {
			.attachment-post-thumbnail {
				aspect-ratio: 1088 / 612;
			}
			img {
				object-fit: cover;
			}
			h1 {
				margin-top: 5rem;
			}
		}
		.post_content {
			margin-top: 7rem;
			.wp-block-image {
				margin-block: 5.5rem;
			}
		}
		.post_after_content {
			@include flex-between;
			align-items: center;
			padding-bottom: var(--space-4);
			border-bottom: 1px solid #707070;
			.post_categories {
				a {
					font-size: 16px;
					color: #000000;
					background-color: #DBDBDB;
					border-radius: 14px;
					padding: 10px;
					min-width: 13.5rem;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					text-transform: uppercase;
					margin-right: 15px;
				}
			}
			.nav-links {
				display: flex;
				a {
					color: #000;
					font-weight: 600;
					font-size: 16px;
					border: 1px solid #000000;
					min-width: 18rem;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					min-height: 56px;
					padding: 10px;
					box-sizing: border-box;
					margin-left: 4.4rem;
					border-radius: 14px;
				}
			}
		}
		.post_socials {
			@include flex-between;
			align-items: center;
			padding-block: 4.5rem;
			border-bottom: 1px solid #707070;
			.comment_count {
				a {
					color: #A2A2A2;
					background-image: url(../icons/comment.svg);
					background-repeat: no-repeat;
					background-position: center left;
					padding-left: 40px;
					background-size: auto 90%;
				}
			}
		}
		svg {
			width: 20px;
			height: auto;
			max-height: 28px
		}
		.st_share {
			@include clean-list;
			display: flex;
			align-items: center;
			li {
				margin-left: 25px;
				position: relative;
				a {
					cursor: pointer;
					color: #000;
					line-height: 0;
				}
			}
		}
		.post_related {
			padding-block: var(--space-4) calc(var(--space-4) - 1em);
			border-bottom: 1px solid #707070;
			h2 {
				margin-bottom: 4.4rem;
			}
		}
		.post_related_inner {
			@include flex-between;
			.related-post {
				@include limbo-min {
					width: 30%;
				}
				.post-thumbnail {
					aspect-ratio: 1088 / 612;
					margin-bottom: 3rem;
					img {
						height: 100%;
					}
				}
				.post-title {
					font-size: 20px;
					margin-bottom: 20px;
					a {
						color: #000;
					}
				}
				.post-date {
					font-size: 16px;
					color: #A2A2A2;
				}
			}
		}
		.post_comments {
			padding-block: 4.5rem;
			ol {
				@include clean-list;
			}
			.comment  {
				min-height: 12rem;
				padding-top: 5rem;
				&.depth-1 {
					padding-bottom: 5rem;
					&:not(:last-child) {
						border-bottom: 1px solid #707070;
					}
				}
				.comment:not(:last-child) {
					border-bottom: 1px solid #707070;
					padding-bottom: 5rem;
				}
			}
			.comment-body {
				position: relative;
				@include flex;
				@include mob-only {
					flex-direction: column;
				}
			}
			.comment-left {
				@include tab-min {
					width: 12rem;
				}
				@include mob-only {
					margin-bottom: 16px;
				}
				img {
					border-radius: 12rem;
					width: auto;
					max-width: 100%;
					@include mob-only {
						max-width: 100px;
					}
				}
			}
			.comment-right {
				@include tab-min {
					width: calc(100% - 12rem - 35px);
					margin-left: 35px;
					padding-right: 5rem;
				}
				.comment-right-top {
					display: flex;
					width: 100%;
					margin-bottom: 20px;
					@include limbo-max {
						flex-direction: column;
					}
					a {
						@include desk-min {
							padding-left: 25px;
						}

					}
					.reply {
						font-size: 16px;
						text-transform: uppercase;
						@include limbo-max {
							margin-top: 8px;
						}
						@include desk-min {
							margin-left: auto;
							margin-right: 9;
						}
						a {
							color: #000000;
						}
					}
				}

				cite {
					font-size: 18px;
					font-style: normal;
					font-weight: 600;
					line-height: 1.15;
				}
				.comment-meta {
					font-size: 16px;
					@include limbo-max {
						margin-top: 8px;
					}
					a {
						color: #A2A2A2;
						font-size: 16px;
					}
				}
				.comment-right-bottom {
					p {
						font-size: 16px;
						color: #A2A2A2;
					}
				}
			}
			.comment-respond {
				padding-bottom: 5rem;
				max-width: 70rem;
			}
			.comment-reply-title {
				display: flex;
				align-items: center;
				font-size: 24px;
				a {
					font-size: 22px;
					margin-left: 16px;
					color: #000;
				}
				small {
					text-transform: uppercase;
					margin-left: auto;
					a {
						color: #000;
						font-size: 16px;
					}
				}
			}
			.comment-form {
				@include flex-between;
				label[for="author"], label[for="email"] {
					margin-bottom: 22px;
					display: flex;
					font-weight: 600;
				}
				label[for="comment"] {
					display: none;
				}

				.comment-notes {
					margin-bottom: 0;
					font-size: 16px;
					font-style: italic;
				}
				.comment-form-comment {
					width: 100%;
					margin-bottom: 0;
				}
				textarea {
					padding: 17px 22px;
					box-sizing: border-box;
					height: 80px;
				}
				.comment-form-author, .comment-form-email {
					width: 49%;
				}
				input {
					padding: 10px 22px;
				}
				textarea, input {
					font-size: 16px;
				}
				.comment-form-cookies-consent {
					display: flex;
					margin-bottom: 0;
					#wp-comment-cookies-consent {
						width: 15px;
						cursor: pointer;
						margin-right: 10px;
					}
					label {
						cursor: pointer;
						font-size: 18px;
					}
				}
				.form-submit {
					width: 100%;
					margin-top: 5rem;
					.submit {
						width: fit-content;
						@include btn-1;
					}
				}
			}
			.children {
				margin-left: 16rem;
				@include mob-only {
					margin-left: 6rem;
				}
			}
		}
		.post_sidebar {
			width: 24%;
			background-color: gray;
		}
	}
}


/* Archive */

.blog {
	.nav-links {
		@include flex;
		.page-numbers {
			color: #000;
			font-weight: 600;
			font-size: 16px;
			border: 1px solid #000;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			box-sizing: border-box;
			border-radius: 14px;
			&.current {
				color: #b2b2b2;
			}
		}
		.prev, .next {
			min-width: 18rem;
			min-height: 56px;
			@include tab-max {
				display: none;
			}
		}
		.prev {
			margin-right: auto;
		}
		.next {
			margin-left: auto;
			margin-right: 0;
		}
		.page-numbers:not(.prev):not(.next) {
			min-width: 46px;
			margin-inline: 5px;
		}
	}
}
.latest-post {
	figure {
		img {
			aspect-ratio: 1088 / 612;
		}
	}
	.title-2 {
		margin-top: 3rem;
		margin-bottom: 10px;
		a {
			color: #000;
		}
	}
	.post_date {
		display: flex;
		margin-bottom: 3rem;
	}
	.latest_post_excerpt {
		padding-bottom: 2.5rem;
	}
	.latest_post_meta {
		border-bottom: 1px solid #707070;
		margin-bottom: var(--space-4);
		padding-bottom: 2rem;
	}
	.lp_read_more {
		color: var(--color-1);
		display: flex;
		text-transform: uppercase;
		text-decoration: underline;
		margin-bottom: 4rem;
	}
}

.archive_posts {
	@include limbo-min {
		width: 67%;
	}
	@include tab-max {
		order: 2;
	}
}
.posts_grid {
	@include flex-between;
	article {
		@include tab-min {
			width: 45%;
		}
		margin-bottom: 5rem;
		@include flex-col;
		figure {
			margin-bottom: 5rem;
			img {
				aspect-ratio: 1088 / 612;
			}
		}
		.post_categories {
			@include flex;
			margin-bottom: 4rem;
			a {
				background-color: #E4E4E4;
				padding: 10px 15px;
				margin-right: 15px;
				min-width: 13.5rem;
				text-align: center;
				border-radius: 14px;
				color: #000000;
				font-size: 16px;
				text-transform: uppercase;
				box-sizing: border-box;
				margin-bottom: 8px;
			}
		}
		h2 {
			margin-bottom: 3.5rem;
			a {
				color: #000;
			}
		}
		.post_excerpt {
			font-size: 20px;
			padding-bottom: 3rem;
		}

	}
}
.post_meta {
	border-top: 1px solid #707070;
	padding-top: 2rem;
	@include flex-between;
	margin-top: auto;
	margin-bottom: 0;
	span {
		color: #B2B2B2;
		font-size: 18px;
		background-repeat: no-repeat;
		background-position: center left;
	}
	.post_date {
		background-image: url(../icons/clock.svg);
		padding-left: 30px;
		margin-right: 16px;
	}
	.post_comments {
		margin-left: auto;
	}
}
.archive_container {
	@include flex-between;
}
aside {
	.item_w_bg {
		margin-bottom: var(--space-4);
	}
	@include tab-max {
		display: none;
	}
	@include limbo-min {
		width: 25%;
		.item_w_bg {

		}
		ul {
			li {
				border-bottom: 1px solid #707070;
			}
		}
		.top_posts {
			li {
				display: flex;
				align-items: center;
				span {
					font-size: 3rem;
					font-weight: 700;
					margin-right: 15px;
				}
			}
		}
	}
	@include tab-max {
		width: 100%;
		order: 1;
		.top_posts {
			display: none;
		}
		ul {
			@include flex;
			li {
				a {
					background-color: #e4e4e4;
					padding: 10px 15px;
					margin-right: 15px;
					min-width: 13.5rem;
					text-align: center;
					border-radius: 14px;
					color: #000;
					font-size: 16px;
					text-transform: uppercase;
					box-sizing: border-box;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	ul {
		@include clean-list;
		li {
			a {
				padding-block: 10px;
				display: flex;
				font-size: 16px;
				color: #000;
			}
		}
	}
}
