.woocommerce-cart {
	.woocommerce {
		width: var(--site-width);
		max-width: var(--max-width-wide);
		margin-inline: auto;
		padding-block: var(--space-3);
	}
	.product-price {
		font-weight: 600;
	}

	.product-subtotal {

		font-weight: 600;
	}
	@include limbo-min {
		.product-price {
			grid-column: 7 / 9;
			text-align: center;
		}
		.product-quantity {
			grid-column: 10 / 12;
			text-align: center;
			display: flex;
			justify-content: center;
		}
		.product-subtotal {
			grid-column: 12 / 14;
			text-align: center;
		}
	}
	.shop_table {
		border-spacing: 0;
		thead tr, .woocommerce-cart-form__cart-item {
			display: grid;
			padding-block: 25px;
			border-bottom: 1px solid #919191;
			align-items: center;
			td {
				box-sizing: border-box;
				font-size: 20px;
			}
			@include limbo-min {
				gap: 5rem;
				grid-template-columns: repeat(14, 1fr);
			}
			@include tab-max {
				@include flex-between;
			}
		}
		thead {
			tr {
				display: grid;
				grid-template-columns: repeat(14, 1fr);
				th {
					text-transform: uppercase;
					font-size: 20px;
				}
			}
			.product-remove, .product-thumbnail {
				display: none;
			}
			.product-name {
				grid-column: 1 / 7;
				text-align: left;
				padding-right: 24px;
			}
			@include tab-max {
				display: none;
			}
		}
	}
	.woocommerce-cart-form__cart-item {
		.product-remove {
			grid-column: 14 / 15;
			grid-row: 1 / 2;
			text-align: center;
			a {
				color: #000;
				text-transform: uppercase;
				background-color: #E3E3E3;
				width: 5rem;
				height: 5rem;
				border-radius: 5rem;
				line-height: 0;
				padding-bottom: 5px;
				box-sizing: border-box;
				@include flex-center;
				@include limbo-min {
					font-size: 35px;
				}
			}
		}
		.product-thumbnail {
			grid-column: 1 / 3;
		}
		.product-name {
			grid-column: 3 / 7;
			padding-right: 24px;
			a {
				color: #000;
				font-weight: 600;
			}
		}

	}
	@include tab-max {
		td {
			margin-bottom: 16px;
			text-align: left;
			&::before {
				margin-bottom: 4px;
				display: block;
			}
		}
		.product-remove {
			width: 50%;
			order: 6;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;

		}
		.product-thumbnail {
			width: 25%;
			order: 1;
		}
		.product-name {
			width: 70%;
			order: 2;
		}
		.product-price {
			width: 50%;
			order: 3;
			&::before {
				content: "Unit Price";
			}
		}
		.product-quantity {
			width: 50%;
			order: 4;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			input {
				font-size: 18px;
				padding: 0;
				line-height: 1.15;
				font-weight: 600;
			}
			&::before {
				content: "Quantity";
				font-weight: 600;
			}
		}
		.product-subtotal {
			&::before {
				content: "Subtotal";
			}
			width: 50%;
			order: 5;
		}
	}
	.cart-after-items {
		padding-top: var(--space-3);
		display: block;
	}

	.actions {
		@include flex-between;
		max-width: 600px;
		margin-left: auto;
		align-items: flex-end;
	}
	.coupon {
		padding-top: 5rem;
		label {
			color: var(--color-1);
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 15px;
			display: block;
		}
		h2 {
			margin-bottom: var(--space-4);
		}
		.coupon-intro {
			margin-bottom: var(--space-4);
		}
		.coupon_wrap {
			display: flex;
			border-radius: 14px;
			border: 1px solid #000;
			padding: 8px 16px;
			@include tab-min {
				min-width: 350px;
			}
		}
		#coupon_code {
			border-radius: 14px 0 0 14px;
			border: none;
			outline: none;
			font-size: 16px;
		}
		button[name="apply_coupon"] {
			width: 50px;
			background-color: #fff;
			border-radius: 14px;
			border: none;
			font-size: 14px;
			color: #B4B4B4;
			cursor: pointer;
			transition: var(--st);
			&:hover {
				color: #000;
			}
		}
	}
	.cart-collaterals {
		max-width: 600px;
		margin-left: auto;
		order: 2;
		h2 {
			text-transform: uppercase;
			font-size: var(--body-1);
			padding-inline: 15px;
			padding-bottom: 3.5rem;
			border-bottom: 1px solid #919191;
			margin-top: var(--space-4);
		}
		table {
			width: 100%;
			padding-inline: 15px;
			border-bottom: 1px solid #919191;
			margin-bottom: 5rem;
			tr {
				display: flex;
				justify-content: space-between;
				margin-bottom: 4.8rem;
				font-size: var(--body-1);
				@include mob-only {
					margin-bottom: 4rem;
				}
			}
		}
	}
	.wc-proceed-to-checkout {
		@include mob-only {
			margin-bottom: 24px;
		}
		.checkout-button {
			@include btn-1;
			@include mob-only {
				width: 100%;
			}
		}
	}
	button[name="update_cart"] {
		@include btn-1;
		margin-top: var(--space-4);
	}
}
