.c-wide {
	width: var(--site-width);
	max-width: var(--max-width-wide);
	margin-inline: auto;
}

.c-narrow {
	width: var(--site-width);
	max-width: var(--max-width-narrow);
	margin-inline: auto;
}

.prefix {
	font-size: 24px;
	color: var(--color-1);
	line-height: 1.5;
	margin-bottom: 2rem;
	font-weight: 400;
}

.title-1 {
	font-size: var(--font-size-1);
	line-height: 1.2;
}


.title-2 {
	font-size: var(--font-size-2);
	line-height: 1.3;
}

.title-3 {
	font-size: var(--font-size-3);
}

.title-4 {
	font-size: var(--font-size-4);
}

.title-5 {
	font-size: var(--font-size-5);
}

.title-6 {
	font-size: var(--font-size-6);
}

.st_block {
	position: relative;
}

.body-1 {
	font-size: var(--body-1);
	line-height: 24px;
}

.body-2 {
	font-size: var(--body-2);
	line-height: 24px;
}

.btns {
	margin-top: 4.3rem;
}

p {
	line-height: 24px;
	font-weight: 400;
	&:first-child {
		margin-top: 0;
	}
}

.intro_title {
	font-weight: 600;
	text-transform: uppercase;
}

.st_background-wrapper {
	position: relative;
}


.tos {
	h3 {
		color: var(--color-1);
		font-size: 24px;
	}
	a {
		color: var(--color-1)
	}
}
