.error_404 {
	max-width: 970px;
}
.error_inner {
	@include flex;
	padding-block: 20rem;
	@include mob-only {
		flex-direction: column;
	}
	h1 {
		color: var(--color-1);
		margin-bottom: 15px;
	}
	.left {
		@include tab-min {
			width: 40%;
		}
		@include mob-only {
			margin-bottom: var(--space-4);
		}
		img {
			width: auto;
			max-width: 100%;
		}
		padding-right: var(--space-2);
		@include tab-only {
			padding-right: var(--space-4);
		}
	}
	.right {
		@include tab-min {
			width: 60%;
		}
		p {
			margin-block: 0 14px;
			color: #626262;
		}
	}
}


/* Military Register */

.register-form__input {
	margin-bottom: 3rem;
	label:not(.error) {
		display: block;
		font-weight: 700;
		font-style: normal;
		word-break: break-word;
		word-wrap: break-word;
		margin-bottom: 20px;
	}
	label.error {
		color: red;
		margin-bottom: -24px;
		display: block;
	}
}

.register-form__input--rights {
	display: flex;
	flex-direction: column;
	input {
		opacity: 0;
		width: 0;
	}
	#register_rights-error {
		margin-bottom: 0;
		order: 2;
		margin-top: -21px;
	}
	label[for="rights"] {
		background-image: url(../icons/square.svg);
		background-size: contain;
		background-repeat: no-repeat;
		padding-left: 42px;
		cursor: pointer;
		height: 34px;
		display: flex;
		align-items: center;

	}
	input:checked ~ label[for="rights"] {
		background-image: url(../icons/check-square.svg);
	}
}
