.product-template-single-product-catalog {
	.entry-summary .price {
		display: none;
	}
	.product-swatches-catalog {
		@include mob-only {
			flex-wrap: wrap;
			.sp-am-title {
				width: 100%;
			}
		}
	}
	.product-swatches-catalog__label {
		margin-bottom: 2rem;
	}
}

.product-swatches-catalog {
	margin-top: 3rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: flex-start;
	span {
		@include color-swatch;
	}
}

.woocommerce-product-attributes-item__value {
	.highlight {
		color: var(--color-1);
	}
}

.product-swatches__label,
.product-swatches-catalog__label
 {
	cursor: pointer;
	@include st;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin-right: 9px;
}

.product-swatches__label.disabled {
	position: relative;
	pointer-events: none;

	&::after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 1px;
		background: #ff0000;
		left: 0;
		right: 0;
		bottom: 0;
		top: 50%;
		min-width: auto;
		transform-origin: center;
		z-index: 10;
		transform: rotate(-45deg);
	}

	&::before {
		position: absolute;
		content: " ";
		width: 100%;
		height: 1px;
		background: #ff0000;
		left: 0;
		right: 0;
		bottom: 0;
		top: 50%;
		min-width: auto;
		transform-origin: center;
		transform: rotate(45deg);
		z-index: 10;
	}
}

.product-swatches__label {
	cursor: pointer;
	@include st;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin-bottom: 2rem;
	margin-right: 9px;
}
.quantity {
	display: flex;
	width: 85px;
	height: 48px;
	border: 1px solid #000000;
	input {
		width: 40px;
		border: none;
		text-align: center;
		outline: none;
		line-height: 1;
		font-size: 16px;
	}
	button {
		background-color: transparent;
		border: none;
		color: #5C5C5C;
		cursor: pointer;
		font-size: 18px;
		&:active {
			color: blue;
		}
		&.minus {
			padding-right: 0;
		}
		&.plus {
			padding-left: 0;
		}
	}
}

.single-product {
  	.wc-block-components-notice-banner {
		display: flex;
		align-items: center;
		padding-inline: 24px!important;
		.wc-block-components-notice-banner__content {
			@include flex-between;
			flex-direction: row-reverse;
			align-items: center;
			a.wc-forward {
				opacity: 1;
				color: #000!important;
			}
		}
	}
	.site-main {
		width: var(--site-width);
		max-width: 1420px;
		margin-inline: auto;
		padding-block: var(--space-4)
	}
	.woocommerce-message {
		border: 1px solid #000;
		border-radius: 4px;
		padding: 8px 16px;
		margin-bottom: 16px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		flex-wrap: wrap;
		@include tab-max {
			flex-direction: column-reverse;
			border: none;
			text-align: center;
			.wc-forward {
				margin-top: 16px;
			}
		}
		.wc-forward {
			@include btn-2;
			min-width: unset;
   			min-height: 48px;
		}
	}
	.product {
		@include flex-between;
		position: relative;
		align-items: flex-start;
	}
	.woocommerce-breadcrumb {
		margin-bottom: var(--space-4);
		color: #8C8C8C;
		font-weight: 400;
		a {
			color: #8C8C8C;
			font-weight: 400;
			&:first-child {
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
	.onsale {
		position: absolute;
		z-index: 9;
		background-color: var(--color-1);
		padding: 7.5px 30px;
		border-radius: 20px;
		font-size: 20px;
		line-height: 1;
		top: 15px;
		left: 15px;
		pointer-events: none;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
	}
	.woocommerce-product-gallery__wrapper {
		width: 100%;
	}
	.woocommerce-product-gallery {
		width: 48%;
		position: relative;
		&:not(.gallery-multiple-images) {
			@include flex-between;
			@include mob-only {
				flex-direction: column;
			}
			flex-direction: row-reverse;

			.flex-viewport {
				@include tab-min {
					&:not(:only-child) {
						width: 80%;
					}
				}
			}
			.flex-control-thumbs {
				@include flex-col;
				align-items: flex-start;
				justify-content: flex-start;
				@include tab-min {
					width: calc(20% - 16px);
				}
				@include mob-only {
					flex-direction: row;
				}
			}
			.flex-direction-nav {
				bottom: 5rem;
				right: 25px;
			}
		}

		@include mob-only {
			width: 100%;
		}
		&.gallery-multiple-images {
			.flex-control-thumbs {
				display: flex;
				justify-content: flex-start;
				li {
					@include tab-min {
						width: 23%;
						&:not(:nth-child(4n + 4)) {
							margin-right: calc(8% / 3);
						}
					}

				}
			}
			.flex-direction-nav {
				top: 5rem;
				right: 25px;
			}
		}
	}
	.woocommerce-product-gallery__trigger { // Remove magnifying glass
		display: none!important;
	}
	.zoomImg {
		cursor: pointer;
	}
	.flex-control-thumbs {
		@include clean-list;
		@include flex-between;
		li {
			height: 20%;
			aspect-ratio: 122 / 151;
			cursor: pointer;
			background-color: #E6E6E6;
			width: 100%;
			margin-bottom: 8px;
			@include mob-only {
				width: 23%;
				&:not(:nth-child(4n + 4)) {
					margin-right: calc(8% / 3);
				}
			}
			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
	}
	.flex-direction-nav {
		position: absolute;
		@include clean-list;
		display: flex;
		@include mob-only {
			bottom: unset;
			top: 3rem;
			right: 15px;
		}
		li {
			display: flex;
			margin-left: 8px;
			a {
				background-color: #fff;
				border-radius: 34px;
				font-size: 0;
				width: 34px;
				height: 34px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 24px;
				@include st;
				&:hover {
					opacity: .8;
				}
			}
			.flex-prev {
				background-image: url(../icons/chevron-left.svg);
			}
			.flex-next {
				background-image: url(../icons/chevron-right.svg);
			}
		}
	}
	.summary {
		width: 41%;
		@include mob-only {
			width: 100%;
		}
		.woocommerce-product-rating {
			margin-bottom: 16px;
			.rating {
				font-size: 1.2em;
			}
		}
		.woocommerce-product-details__short-description {
			margin-bottom: 5rem;
		}
		.price {
			font-size: 32px;
			font-weight: 600;
			margin-top: 0;
			margin-bottom: 5rem;
			del {
				color: #AFAFAF;
				bdi {
					color: #AFAFAF
				}
			}

			ins {
				text-decoration: none;
				bdi {
					color: #000000;
					text-decoration: none;
				}
			}
		}
		.variations {
			.st-swatch-color {
				.label {
					margin-top: 5px;
				}
			}
			label {
				margin-right: 20px;
				font-size: 16px;

			}
			tr {
				margin-bottom: 3rem;
				display: flex;
				.label {
					width: 100px;
					text-align: left;
					flex-shrink: 0;
				}
			}
		}

		span[data-attribute-name='pa_colors'] {
			@include color-swatch;
		}
		span[data-attribute-name]:not([data-attribute-name='pa_colors']) {
			height: 28px;
			min-width: 28px;
			outline: 1px solid #000;
			border: 2px solid #fff;
			padding-inline: 4px;
			&.selected {
				border-color: #000;
			}
		}
		.quantity_label {
			font-weight: 600;
			font-size: 3.2rem;
			margin-bottom: 15px;
			display: block;
		}
		.quantity {
			display: flex;
			width: 85px;
			height: 48px;
			border: 1px solid #000000;
			input {
				width: 40px;
				border: none;
				text-align: center;
				outline: none;
				line-height: 1;
				font-size: 16px;
			}
			button {
				background-color: transparent;
				border: none;
				color: #5C5C5C;
				cursor: pointer;
				font-size: 18px;
				&:active {
					color: blue;
				}
				&.minus {
					padding-right: 0;
				}
				&.plus {
					padding-left: 0;
				}
			}
		}
	}
	.product_title {
		font-size: var(--font-size-2);
		line-height: 1.2;
	}
	.sp-am-title {
		box-sizing: border-box;
		font-size: 16px;
		word-break: break-word;
		@include tab-min {
			padding-right: 20px;
			width: 100px;
			min-width: 100px;
		}
	}
	.sp-am-section {
		display: flex;
		@include mob-only {
			flex-direction: column;
		}
		.sp-am-content {
			ul {
				margin-top: 0;
				padding-left: 20px;
			}
		}
	}
	.single_add_to_cart_button {
		@include btn-1;
		margin-top: 5rem;
		width: fit-content;
	}
	.woocommerce-tabs {
		width: 100%;
		margin-top: var(--space-3)
	}
	.reviews_tab{
		order: 11;
	}
	.wc-tabs {
		@include clean-list;
		@include flex;
		border-bottom: 3px solid #C9C9C9;
		.additional_information_tab {
			order: 10;
		}
		li {
			a {
				padding: 2.8rem 6.5rem;
				color: #C9C9C9;
				text-transform: uppercase;
				display: flex;
				margin-bottom: -3.5px;
				font-size: 20px;
			}
			&.active {
				a {
					border-bottom: 5px solid #141414;
					color: #313131;
					font-weight: 600;
				}
			}
		}

	}
	.woocommerce-Tabs-panel {
		padding: 40px 35px;
		color: #626262;
		img {
			width: auto;
			max-width: 100%;
		}
		.woocommerce-product-attributes-item {
			margin-bottom: 16px;
			@include flex-col;
			text-align: left;
		}
		.woocommerce-product-attributes-item__label {
			color: #000;
		}
		.woocommerce-product-attributes-item__value {
			p {
				margin-bottom: 0;
			}
		}
	}
}

.related {
	width: 100%;
	margin-top: var(--space-3);
	> h2 {
		margin-bottom: 5.5rem
	}
	.products {
		width: 100%;
		@include flex;
		@include clean-list;
		.product_cat-ngb {
			.price {
				display: none;
			}
		}

		.product {
			flex-direction: column;
			justify-content: flex-start;
			.sp-am-title {
				display: none;
			}
			.product-swatches {
				margin-top: 10px;
				margin-bottom: -10px;
				justify-content: center;
				span {
					@include color-swatch;
				}
			}
			.woocommerce-loop-product__title {
				@include product-grid-title;
			}
			.price {
				justify-content: center;
			}
			.button {
				@include woo-more-btn;
			}
		}
	}
}

.hide-product-attributes {
    display: none!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Reviews */

.woocommerce-Reviews {
	.woocommerce-Reviews-title {
		display: none;
	}
	.commentlist {
		list-style: none;
		padding-left: 0;
		li {
			border-bottom: 1px solid #c9c9c9;
			margin-bottom: 24px;
		}
	}
	.avatar {
		width: 60px;
		border-radius: 30px;
	}
	.comment-form-comment, .comment-form-author, .comment-form-email {
		label {
			color: #000;
			font-weight: 700;
			margin-bottom: 20px;
			display: block;
		}
	}
	.comment-form-cookies-consent {
		display: flex;
		align-items: center;
		input {
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
		label {
			width: calc(100% - 30px);
			margin-left: 10px;
			cursor: pointer;
		}
	}
	input.submit {
		@include btn-2;

	}
}

.product-template-single-product-military {
	.price {
		display: none;
	}
	.return-to-order-btn {
		margin-top: 3rem;
	}
}
