.search_results_main {
	width: 100%;
	header {
		padding-block: 5rem;
		h1 {
			color: var(--color-1)
		}
	}
}

.search_results {
	@include flex-between;
	.number-of-results {
		border-bottom: 1px solid;
		color: #626262;
		padding-bottom: 15px;
		width: 100%;
	}

	.search_results_products {
		padding-bottom: var(--space-3);

	}
	.search-results-posts {
		article {
			&:not(:last-of-type) {
				margin-bottom: 5rem;
			}
			&:first-of-type {
				margin-top: 35px;
			}
		}
		.sr_meta {
			color: var(--color-1);
			margin-bottom: 25px;
		}
		.entry-summary {
			color: #626262;
		}
		h2 {
			margin-bottom: 13px;
			a {
				color: var(--color-1);
			}
		}
	}
}

.no-results {
	padding-top: 5rem;
	border-top: 1px solid;
	h2 {
		color: var(--color-1);
	}
	p {
		color: #626262;
	}
}
